In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config2 import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Evensk,RU,2020-10-28 03:58:27,61.95,159.23,28.99,82,0,8.23
1,1,Pisco,PE,2020-10-28 03:49:39,-13.70,-76.22,63.00,82,0,8.05
2,2,Qaanaaq,GL,2020-10-28 03:50:34,77.48,-69.36,13.50,82,96,12.15
3,3,Cidreira,BR,2020-10-28 03:52:31,-30.18,-50.21,62.15,85,100,13.11
4,4,Hermanus,ZA,2020-10-28 03:50:28,-34.42,19.23,59.00,90,99,1.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
15,15,Hobyo,SO,2020-10-28 03:52:07,5.35,48.53,79.97,75,4,6.38
28,28,Rikitea,PF,2020-10-28 03:50:24,-23.12,-134.97,75.42,84,100,15.50
31,31,Coolum Beach,AU,2020-10-28 03:51:35,-26.53,153.10,75.99,80,54,5.01
32,32,Lufilufi,WS,2020-10-28 03:58:34,-13.87,-171.60,84.20,83,75,13.87
36,36,Atuona,PF,2020-10-28 03:50:54,-9.80,-139.03,78.78,73,1,18.90
37,37,Ambon,ID,2020-10-28 03:57:38,-3.70,128.18,84.45,71,41,10.42
41,41,Kapoeta,SS,2020-10-28 03:58:35,4.77,33.59,76.46,68,35,5.39
43,43,Hithadhoo,MV,2020-10-28 03:51:30,-0.60,73.08,84.49,66,95,10.87
47,47,Saint-Philippe,RE,2020-10-28 03:50:38,-21.36,55.77,77.00,61,0,6.93
51,51,Hervey Bay,AU,2020-10-28 03:58:38,-25.30,152.85,80.01,70,21,5.01

In [19]:
preferred_cities_df.count()

City_ID       138
City          138
Country       138
Date          138
Lat           138
Lng           138
Max Temp      138
Humidity      138
Cloudiness    138
Wind Speed    138
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
15           Hobyo      SO     79.97   5.35   48.53
28         Rikitea      PF     75.42 -23.12 -134.97
31    Coolum Beach      AU     75.99 -26.53  153.10
32        Lufilufi      WS     84.20 -13.87 -171.60
36          Atuona      PF     78.78  -9.80 -139.03
37           Ambon      ID     84.45  -3.70  128.18
41         Kapoeta      SS     76.46   4.77   33.59
43       Hithadhoo      MV     84.49  -0.60   73.08
47  Saint-Philippe      RE     77.00 -21.36   55.77
51      Hervey Bay      AU     80.01 -25.30  152.85

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
15,Hobyo,SO,79.97,5.35,48.53,Osmani Hotel
28,Rikitea,PF,75.42,-23.12,-134.97,Pension Maro'i
31,Coolum Beach,AU,75.99,-26.53,153.10,Palmer Coolum Resort
32,Lufilufi,WS,84.20,-13.87,-171.60,Leuaina Beach Resort and Spa
36,Atuona,PF,78.78,-9.80,-139.03,Villa Enata
...,...,...,...,...,...,...
533,Biak,ID,85.73,-0.91,122.88,Kost Ariz
541,Black River,JM,82.40,18.03,-77.85,Idlers' Rest Beach Hotel
547,Soe,ID,83.75,-9.86,124.28,Dena Hotel
550,Geraldton,AU,75.20,-28.77,114.60,Broadwater Mariner Resort
558,Kulhudhuffushi,MV,82.80,6.62,73.07,Haajy Guest House 1

In [41]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

KeyError: 'column1'